    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
    
    body {
      background-image: url(./assets/bg-mobile.jpg);
      /*adiciona imagem*/
      background-repeat: no-repeat;
      /*tira a repetiçao*/
      background-position: top center;
      /*muda o ponto do centro*/
      background-size: cover;
      /*coloca a imagem em tela toda*/
    }

    /* body{background: url(./assets/bg-mobile.jpg) no-repeat top center/cover;
    } */

    body * {
      font-family: "Inter", sans-serif;
      color: #ffffff;
    }

    
    #container {
      width: 350px;
      /*largura*/
      /*height: 712px; altura*/
      /*border: 1px red solid;*/
      /*borda*/
      margin: 56px auto 0px;
      /*margen*/
    }

    #profile {
      text-align: center; /*alinha elementos inline*/
      padding: 24px;
    }
    
    #profile img {
      width: 112px;
      
    }

    #profile p{
      font-weight: 500;
      line-height: 24px;
    
    }

    /* LINKS */
    ul {
      list-style: none; /*remove o estillo da lista*/

      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    ul li a {
      display:flex;
      align-items: center;
      justify-content: center;


      padding: 16px 24px;

      background: rgba(255, 255, 255, 0.1);
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: 8px;

      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);

        }

